<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FAMILIARES:</h1>

    <table>

        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha</th>
            <th>Email</th>
        </thead>

        {% for familiar in familia %}

        <tr>
            <td>{{familiar.nombre}}</td>
            <td>{{familiar.apellido}}</td>
            <td>{{familiar.fechaDeNacimiento}}</td>
            <td>{{familiar.email}}</td>
        </tr>

        {% endfor %}


    </table>

</body>
</html>